.App {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.titulo {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.entradas {
    flex-direction: inline;
    font-weight: bold;
    margin-bottom: 5px;

}

input {
    padding: 5px;
    margin-bottom: 10px;
}

.button {
    padding: 10px 20px;
    background-color: #16e2e2c9;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

.resultado {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #7f9e0f;
    font-weight: bold;
}